
@{
    ViewData["Title"] = "Acesso negado";
}
<div class="conteiner-fluid offset-md-4  ">
    <h2>Acesso negado</h2>
    <p>Você não está logado no sistema para entrar nesta página</p>
    <p>Entre no sistema para utilizar os recursos disponiveis!</p>
    <a id="btn-login" class="p-2 text-dark" asp-area="" asp-controller="Home" asp-action="Login"><div type="button" d class=" float-left  btn btn-outline-primary">Entrar no sistema</div></a>
</div>
