@model OficioMVC.Models.Siga_profs;
	
@{


}

@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
	//cria a tag do formulário
	@Html.AntiForgeryToken() 


<link rel="stylesheet" type="text/css" href="/css/login/index.css">
<div id="containerLogin" >
	<div class=" col-md-4 col-sm-12" >
		<div id="card" class="col-md-9 col-sm-12">
				<form class="form-signin" asp-action="Login">
					<h2 class=" "id="cardTitle">Login</h2>
					<label for="inputUser" class="sr-only">Usuário</label>
					<input type="text" id="inputUser" class="form-control" placeholder="Usuário"  autofocus  asp-for="user_login">
					<label for="inputPassword" class="sr-only">Senha</label>
					<input type="password" id="inputPassword" class="form-control" placeholder="Senha" required asp-for="user_pass">
					
					<button id ="btnLogin"class="btn btn-lg btn-primary " type="submit">Entre</button>
				</form>
			</div>
	</div>
</div>
}
<link rel="stylesheet" type="text/css" href="/css/login/index.css">
@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
