@model OficioMVC.Models.ViewModels.EditarDocumentoViewModel;

@{
    ViewData["Title"] = "Editar documento - Liberação";
}

<h2>@ViewData["Title"]</h2>

<h4>Informe usuario e senha</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form class="form-new" asp-action="authorization" asp-controller="Siga_profs">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" id="input-id"  value="@ViewBag.id"/>
            <div class="form-group">
                <label asp-for="Usuario.user_login" class="control-label"></label>
                <input type="text" asp-for="Usuario.user_login" class="form-control" id="input-assunto" />
                <span asp-validation-for="Usuario.user_login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario.user_pass" class="control-label"></label>
                <input asp-for="Usuario.user_pass" class="form-control" id="input-obs" type="password" />
                <span asp-validation-for="Usuario.user_pass" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" id="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>