@model OficioMVC.Models.ViewModels.EditarDocumentoViewModel;

@{
    ViewData["Title"] = "Editar documento - Liberação";
}







        @section Scripts
        {
            <script src="~/js/ModalScript/Modal.js"></script>
            <script>
                let modal = document.getElementById('myModalSucess');
                     window.onload = function () {
                 abrirModal(modal);
                }

               
                
            </script>   
        }


<!-- Modal HTML Sucesso -->
<div id="myModalSucess" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Autorização </h4>
                 <button class='btn btn-danger offset-md-7'onClick="fecharModal(modal,true)">Fechar</button>
            </div>
            <div class="modal-body">
               <h4>Informe usuario e senha</h4>
            <hr />
            <div class="container">
                <div class="col-md-12 ">
                    <form class="form-new" asp-action="authorization" asp-controller="Siga_profs">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="id" id="input-id"  value="@ViewBag.id"/>
                        <div class="col-md-12">
                            <label asp-for="Usuario.user_login" class="control-label"></label>
                            <input type="text" asp-for="Usuario.user_login" class="form-control" id="input-assunto" />
                            <span asp-validation-for="Usuario.user_login" class="text-danger"></span>
                        </div>
                        <div class="col-md-12">
                            <label asp-for="Usuario.user_pass" class="control-label"></label>
                            <input asp-for="Usuario.user_pass" class="form-control" id="input-obs" type="password" />
                            <span asp-validation-for="Usuario.user_pass" class="text-danger"></span>
                        </div>
                        
                        <div class="col-md-12 pt-3">
                                <button id ="btnLogin"class="btn btn-lg btn-primary " type="submit">Entre</button>
                        </div>
                    </form>
                </div>
            </div>
            </div>
            <div class="modal-footer">
              
            </div>
        </div>
    </div>

        }

    }
}