@model OficioMVC.Models.Documento

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Documento - @ViewBag.Doc_identificador</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Ano" />
            <input type="hidden" asp-for="Numeracao" />
            <div class="form-group">
                <label asp-for="Assunto" class="control-label"></label>
                <input asp-for="Assunto" class="form-control" />
                <span asp-validation-for="Assunto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Observacoes" class="control-label"></label>
                <input asp-for="Observacoes" class="form-control" />
                <span asp-validation-for="Observacoes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <select asp-for="Tipo" class="form-control"></select>
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Arquivo PDF!</label>
                <input type="file" name="file" />
            </div>
            <div class="form-group">

                <input type="hidden" asp-for="DataEnvio" class="form-control" />
                <span asp-validation-for="DataEnvio" class="text-danger"></span>
            </div>
            <div class="form-group">

                <input type="hidden" asp-for="UsuarioId" />
                <span asp-validation-for="UsuarioId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

